## Importamos las librerías que utilizaremos

In [1]:
import numpy as np
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

## Cargamos Archivo que utilizaremos

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT3/master/data/Default.csv') 
data

      default student      balance       income
0           0      No   729.526495  44361.62507
1           0     Yes   817.180407  12106.13470
2           0      No  1073.549164  31767.13895
3           0      No   529.250605  35704.49394
4           0      No   785.655883  38463.49588
...       ...     ...          ...          ...
9995        0      No   711.555020  52992.37891
9996        0      No   757.962918  19660.72177
9997        0      No   845.411989  58636.15698
9998        0      No  1569.009053  36669.11236
9999        0     Yes   200.922183  16862.95232

[10000 rows x 4 columns]

## Convertimos testo a un valor numérico

In [3]:
data = data.replace(to_replace='Yes', value=1)
data = data.replace(to_replace='No', value=0)
data

      default  student      balance       income
0           0        0   729.526495  44361.62507
1           0        1   817.180407  12106.13470
2           0        0  1073.549164  31767.13895
3           0        0   529.250605  35704.49394
4           0        0   785.655883  38463.49588
...       ...      ...          ...          ...
9995        0        0   711.555020  52992.37891
9996        0        0   757.962918  19660.72177
9997        0        0   845.411989  58636.15698
9998        0        0  1569.009053  36669.11236
9999        0        1   200.922183  16862.95232

[10000 rows x 4 columns]

## Reconfiguramos la estructura de la data ya que viene de un dataframe

In [4]:
# default es nuestro target (valor a predecir)
Y = data['default'].values.reshape(-1)
# balance, income y student son nuestras variables explicatorias
X = data[['balance', 'income', 'student']].values.reshape(-1,3)

print('X =', X.shape)
print('Y =', Y.shape)

X = (10000, 3)
Y = (10000,)

## Realizamos remuestreo: train = 70% , test = 30%

In [5]:
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, test_size=0.3, shuffle=True, random_state = 10)

print('X train = ', train_X.shape)
print('Y train = ', train_Y.shape)
print('X test  = ', test_X.shape)
print('Y test  = ', test_Y.shape)

X train =  (7000, 3)
Y train =  (7000,)
X test  =  (3000, 3)
Y test  =  (3000,)

## Creamos nuestra red neural y la entrenamos con SGD

In [6]:
# funcion de activacion = sigmoid "logistic"
# entrenamos con SGD (Stochastic Gradient Descent)
# 5 capas ocultas de 10, 200, 100, 100 y 40 neuronas respectivamente
ann = MLPClassifier(activation="logistic", solver="sgd", hidden_layer_sizes=(10, 200, 100, 100, 40), random_state=1)

In [7]:
ann.fit(train_X, train_Y)

MLPClassifier(activation='logistic', hidden_layer_sizes=(10, 200, 100, 100, 40),
              random_state=1, solver='sgd')

In [8]:
predicciones = ann.predict(test_X)
predicciones

array([0, 0, 0, ..., 0, 0, 0])

## Calculamos la Matriz de Confusion

In [9]:
from sklearn.metrics import confusion_matrix

tn, fp, fn, tp = confusion_matrix(test_Y, predicciones, labels=[1, 0]).ravel()

print('TN =', tn)
print('FP =', fp)
print('FN =', fn)
print('TP =', tp)

TN = 0
FP = 112
FN = 0
TP = 2888

## Calculamos el Accuracy del modelo

In [10]:
acc = (tn + tp)/(tn + fp + fn + tp)
print("Accuracy: " + str(acc))

Accuracy: 0.9626666666666667

## Calculamos la Sensitividad del modelo

In [11]:
sencitivity = tp/(tp + fn)
print("Sencitivity: " + str(sencitivity))

Sencitivity: 1.0

## Calculamos la Especificidad del modelo

In [12]:
specificity = tn/(tn + fp)
print("Specificity: " + str(specificity))

Specificity: 0.0